.App {
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
}
/* 1400 breakpoint */

.App__bells {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.App__title {
  font-size: 1.5em;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.App__santa {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

.App__creator {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.App__santa-table {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}

.App__santa-generator {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header-section {
  padding-top: 20px;
}

.header-small {
  display: block;
}

.add-santa__input {
  margin:0 auto 15px 0;
}

.add-santa__header {
  margin-bottom: 30px;
}

.add-santa__btn {
  margin-top:10px;
}

.add-santa__container {
  margin: 20px auto 30px;
}

.add-santa__input-label {
  margin-right: 100%;
  margin-bottom: 10px;
}

.main-title {
  margin: 0 auto;
  padding-top: 20px;
}

.ss-config__container { 
  margin-top:15px;
}

.ss-config {
  margin-top: 50px;
}

.ss-config__range-container > * {
  display: inline-block;
}

.ss-config__range-container > input {
  width: 80%;
  margin: 0 10px;
  display: inline-block;
}

.ss-config__btn {
  margin-top: 15px;
}

.header-img {
  width: 150px;
  height: 150px;
}

.santa-table__url-input {
  margin: 0;
  padding: 5px 10px;
  width: 40%;
}

.santa-table__match-btn {
  margin: 0 0 0 10px;
}